<div>
<div *ngIf="!newKeg">
  <button (click)="showForm()">New Keg</button>
</div>
<div *ngIf="newKeg">
    <h3>New Keg</h3>
    <label for="name">Name:</label>
    <input #name  ng-required="required">

    <label for="brand">Brand:</label>
    <input #brand required>

    <label>Style:</label>
    <select
      #style>
      <option *ngFor="let style of beerStyles" [ngValue]="style">{{style}}</option>
    </select>

    <label for="alcoholContent">Alcohol Content:</label>
    <input #alcoholContent type="number" max="100" min="0" required>

    <label for="price">Price:</label>
    <input #price type="number" required>

    <br>

    <button (click)="addNewKeg(name.value, brand.value, style.value, alcoholContent.value, price.value); name.value=''; brand.value=''; style.value=''; alcoholContent.value=''; price.value='';">Done</button>
    <button (click)="showForm()">Cancel</button>
  </div>
</div>
